<div class="contianer mt-4">
  <div *ngIf="!registermode" style="text-align: center;">
    <h1>Find Your Match.</h1>
    <P class="lead">
      Come On To View Your Matches .... All You Need To Do Sign Up
    </P>
    <div class="text-center">
      <button (click)="registermodeToggle()" class="btn btn-primary btn-lg me-2">Register</button>
      <button class="btn btn-info btn-lg">Learn More</button>
    </div>
  </div>

  <div *ngIf="registermode" class="contianer">

    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegiter)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>